/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

:root {
  --ifm-color-primary: #006064;
  --ifm-color-primary-dark: #00565a;
  --ifm-color-primary-darker: #005255;
  --ifm-color-primary-darkest: #004346;
  --ifm-color-primary-light: #006a6e;
  --ifm-color-primary-lighter: #006e73;
  --ifm-color-primary-lightest: #007d82;
  --ifm-navbar-title-color: #000000;
  --ifm-navbar-title-hover: #00bcd4;
}

[data-theme="dark"] {
  --ifm-color-primary: #00bcd4;
  --ifm-color-primary-dark: #00a9bf;
  --ifm-color-primary-darker: #00a0b4;
  --ifm-color-primary-darkest: #008494;
  --ifm-color-primary-light: #00cfe9;
  --ifm-color-primary-lighter: #00d8f4;
  --ifm-color-primary-lightest: #15e4ff;
  --ifm-background-color: #000000;
  --ifm-navbar-title-color: #00bcd4;
  --ifm-navbar-title-hover: #15e4ff;
}

.navbar__title {
  font-size: 26px;
  font-family: "Gugi", cursive;
  color: var(--ifm-navbar-title-color);
}

.navbar__title:hover {
  color: var(--ifm-navbar-title-hover);
}
